<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.niu.springboot.mapper.BookMapper">

    <insert id="addBook" parameterType="com.niu.springboot.bean.Book">
        INSERT INTO book(name,author) VALUES (#{name},#{author})
    </insert>

    <update id="updateBookById" parameterType="com.niu.springboot.bean.Book">
        UPDATE book SET name=#{name},author=#{author} WHERE id=#{id}
    </update>

    <delete id="deleteBookById" parameterType="java.lang.Integer" >
        delete from book where id = #{id}
    </delete>

    <select id="getBookById" parameterType="java.lang.Integer" resultType="com.niu.springboot.bean.Book">
        SELECT * FROM book WHERE id = #{id}
    </select>

    <select id="getAllBooks" resultType="com.niu.springboot.bean.Book">
        SELECT * FROM book
    </select>

</mapper>